
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/_master.cshtml";
}
@model HomePageViewModel

    <section class="motd">
        <h1>Movie of the day</h1>
        <div>
            <div>
                <img src="~/media/images/posters/@Model.RandomMovie.CoverUrl" alt="@Model.RandomMovie.Title" title="@Model.RandomMovie.Title"/>
            </div>
            <div> 
                <h2>@Model.RandomMovie.Title</h2>
                <movie-stars asp-amount="@Model.RandomMovie.Stars"></movie-stars>
                <p>@Model.RandomMovie.Plot</p>
                <a asp-action="Detail" class="link" asp-route-id="@Model.RandomMovie.Id">More info ➜</a>
            </div>
        </div>
        
       
    </section>
    <section class="watchlist">
        <h1>Your watchlist</h1>

        @if (Model.FavMovies.Count > 0)
        {
        <ul class="movie-list">
        @foreach (MovieViewModel favMovie in Model.FavMovies)
        {
            <li>
                <div><img src="~/media/images/posters/@favMovie.CoverUrl" alt="@favMovie.Title" title="@favMovie.Title" /></div>
                <div class="movie-info">
                    <h3>@favMovie.Title</h3>
                    <p>@favMovie.Year</p>
                </div>
                <div class="movie-options">
                    <a asp-action="Detail" asp-controller="Movie" asp-route-id="@favMovie.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" /><path d="M0 0h24v24H0z" fill="none" /></svg></a>
                    <a asp-action="UnfavoriteMovie" asp-controller="Movie" asp-route-id="@favMovie.Id" class="delete"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" /></svg></a>
                </div>
            </li>
        }

        </ul>

        }
        else
        {
            <p>You haven't added any movies to your watchlist! Just click on the +-sign under the title to add a movie to your watchlist.</p>
        }



        </section>

    <section class="movies">
        <h1>Movies</h1>
        <form method="post" asp-action="SortMovies" asp-controller="Movie">
            <select asp-items="@Model.SortProperties" asp-for="@Model.SortItem"></select>
            <select asp-for="@Model.SortDirection">
                <option value="ASC" selected>Ascending</option>
                <option value="DESC">Descending</option>
            </select>
            <input type="submit" class="btn" value="Sort movies" />
        </form>
        
        <ul class="movie-list">
            <li class="add">
                <a asp-action="AddMovie" asp-controller="Movie">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" /><path d="M0 0h24v24H0z" fill="none" /></svg>
                    <p>Add a movie</p>
                </a>

                
            </li>
            @foreach (MovieViewModel movie in Model.AllMovies)
            {
                <li>
                   
                        <div><img src="~/media/images/posters/@movie.CoverUrl" alt="@movie.Title" title="@movie.Title" /></div>
                        <div class="movie-info">
                            <h3>@movie.Title</h3>
                            <p>@movie.Year</p>
                        </div>
                        <movie-stars class="rate @movie.ScorePerception" asp-amount="@movie.Stars"></movie-stars>
                        <div class="movie-options">
                            <a asp-action="Detail" asp-controller="Movie" asp-route-id="@movie.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" /><path d="M0 0h24v24H0z" fill="none" /></svg></a>
                            <a asp-action="Edit" asp-controller="Movie" asp-route-id="@movie.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" /><path d="M0 0h24v24H0z" fill="none" /></svg></a>
                            <a asp-action="FavoriteMovie" asp-controller="Movie" asp-route-id="@movie.Id"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" /><path d="M0 0h24v24H0z" fill="none" /></svg>
                            </a>
                            <a asp-action="Delete" asp-controller="Movie" asp-route-id="@movie.Id" class="delete"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" /><path d="M0 0h24v24H0z" fill="none" /></svg></a>
                        </div>
                  
                    
                </li>
            }
        </ul>
    </section>



@section title{ 
    Home
}







