
@{
    ViewData["Title"] = "CreateGenre";
    Layout = "~/Views/_master.cshtml";
}
@model CreateGenreViewModel

<h1>Create a new genre!</h1>

<form asp-action="Create" asp-controller="Genre" method="post">


    <label asp-for="@Model.Name"></label>
    <input asp-for="@Model.Name" />
    <span asp-validation-for="@Model.Name" class="error"></span>
    <label asp-for="@Model.ImdbName"></label>
    <input asp-for="@Model.ImdbName" />
    <span asp-validation-for="@Model.ImdbName" class="error"></span>

    <div class="movie-items">

        <movie-check  asp-model="Movies" ></movie-check>

    </div>
    <input type="submit" class="btn" value="Create!" />

</form>


    @section title{
        Create a genre
    }
